@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

$mb: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xx-l: 1560px;
.container_navchat {
  height: 10%;
  padding: 0 0 0 1rem;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  align-items: center;
  background-color: rgba(223, 75, 122, 0.8);
  gap: 1rem;
  font-size: 1rem;
  .wrapper_profile {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: bisque;
    }
  }
  .wrapper_icon {
    margin-left: auto;
    margin-right: 5%;
    cursor: pointer;
    transition: 0.5s;
  }
  .wrapper_icon:hover {
    color: white;
    transform: rotate(360deg);
  }
}
